{% extends 'base.html.twig' %}

{% block title "Toutes les Recettes" %}

{% block body %}
    Ut cillum excepteur commodo mollit do Lorem fugiat. Ad sit tempor dolor magna excepteur est laboris reprehenderit velit ex non enim. 
    Commodo ad irure do commodo ullamco nulla. Proident pariatur consectetur amet incididunt incididunt fugiat nostrud ea elit. Nisi sit qui enim officia 
    pariatur. Consectetur dolore sint deserunt nisi ullamco ipsum do ad.

    <ul>
        <li class="nav-item">
            <a href="{{ url('recipe.show', {id: 32, slug: 'pate-bolognaise' }) }}">Pate bolognaise</a>
        </li>
    </ul>

{% endblock %}
